<div class="row app-footer-container">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 app-footer-section-left">
        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 app-footer-section-center">
        <div class="app-footer-section-center-socials">
            <ul>
                <li *ngFor="let social of socials">
                    <a href="{{social.link}}" title="{{social.title}}"><i class="{{social.classIco}}" aria-hidden="true"></i></a>                    
                </li>
            </ul>
        </div>
    </div>

    <ngx-toasta [position]="'bottom-center'"></ngx-toasta>
</div> 
