
.illustration{
    width: 75%;
    margin: 0 0 0 150px;
}

.app-application{
    margin: 90px 0 0 0;
}

.text-application{
    margin: 180px 0 0 220px;
}

.text-application p{
    color: #34353d;
    font-size: 1.3em;
}

@media screen and (max-width: 768px)
{

    .text-application{
        margin: auto;
    }

    .text-application p{
        text-align: center;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1200px) {
    .text-application{
        margin: auto;
    }
}