<div class="app-application">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12">
            <div class="text-application">
                <p class="animated fadeInLeft">Le développement des sites web ou des applications seront dédiées a s'adapter à tous les types de supports (ordinateur, tablette, mobile).<br><br>
                    Avec le développement croissant des tablettes numériques et l’explosion des smartphones dans notre quotidien, vos projets vous permettrons
                    d'augmenter votre taux de conversion mais aussi votre visibilité.
                </p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-xs-12">
            <img class="illustration" src="../../assets/images/application-illustration.png" alt="application-illustration">
        </div>
    </div>
</div>
