.app-job{
    padding: 20px;
    margin: 90px 0 0;
    background-color: #4243ad;
    padding: 20px 0 40px 0;
}

.text-job{
    margin: 130px 220px 0 0;
}

.text-job p{
    color: white;
    font-size: 1.3em;
}

h4{
    background-color: white;
    color : #4243ad;
    padding: 5px;
    font-weight: bold;
}

.losange {
    margin: 30px 70px 30px 70px;
    transform-origin: 50% 50%;
    width: 250px;
    height: 250px;
    background-color: white;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(32,33,36,.28);
    cursor: pointer;
}

.losange-border {
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;
    width: 250px;
    height: 250px;
    background-color: white;
    display: inline-block;
    outline: 3px solid rgb(66, 67, 173);
    outline-offset: -10px;
    overflow: hidden;
    transition: all 500ms ease;
}

.losange {
    transform: rotate(45deg) translateY(10px);
}

.losange:first-child img{
    width: 380px;
    transform: rotate(315deg);
    margin: 20px 0px 0px -2px;
    position: relative;
    right: 45px;
    top: 30px;
}

.losange:nth-child(2) img{
    width: 315px;
    transform: rotate(-43deg);
    position: relative;
    right: 38px;
    top: 0px;
}

.losange-border:hover{
    transform: rotate(-45deg);
    outline: inherit;
    border: 3px solid white;
}

@media screen and (max-width: 768px)
{
    .text-job{
        margin: auto;
    }

    .text-job p{
        text-align: center;
        font-size: 1.1em;
    }

    h4{
        margin: 40px 0 0 0;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .text-job{
        margin: 60px 0 0 0;
    }
}
