.app-job{
    margin: 200px 10px 200px 10px; 
}

.app-job-content{
    background-color: #7985A1;
    padding: 20px;
    margin-bottom: 50px;    
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 3px;  
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}


.app-job-content span:first-child{
    font-size: 19px;
    color: white;
    font-weight: 300px;
}

.app-job-content p{
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
    text-align: left;
}

.app-job-content-ico{
    font-size: 30px;
    margin-right: 5px;
    color: #333;
}

.app-job-content-ico:hover{
    font-size: 30px;
    color: black;
}


.app-job-content-p-displayed{
    opacity: 1 !important;
    transition: opacity 2000ms ease-out; 
}

.app-job-content-span{
    color: white;
}

.app-job-content img{
    opacity: 0;
    width: 50%;
}

.app-job-img-displayed{
    opacity: 1 !important;
    width: 100%;    
    transition: opacity 2000ms ease-out; 
}
.app-job-techno > i{
    color: white;
    font-size: 40px;
    display: inline-block;
}

.close {
    position: absolute;
    display: none;
    margin-left: 5px;
    right: 9px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 1;
}
.close-displayed{
    display: block;
}
.close:hover {
    opacity: 1;
}



.app-job-title-separate{
    margin: 20px 0px 0px 15px;
    float: left;
}

.app-job-title-separate h2{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.hr-custom-title{
    background-color: white;
    height: 3px;
    width: 270px;
    margin-top: 13px;
}

.title{
    float: left;
    color: white;
    margin-left: 5px;
}

@media screen and (max-width: 640px) {
    .app-job-title-separate h2{
        font-size: 15px;
    }
  }