<div class="app-job">
    <div class="row row-no-padding">
        <div class="col-xl-7 col-lg-7 col-md-12 col-xs-12 text-center">
            <div *ngFor="let item of jobs; let index = index;"  class="container-job-cube losange">
                <div class="losange-border" [routerLink]="['/job-content', index]" (click)="clickLosangeElement(item.link)"
                [ngStyle]="item.style"></div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12">
            <h4>Cliquez sur un losange pour découvrir</h4>
            <div class="text-job">
                <p>
                    Parmi les différents projets réalisés pendant mon parcours,<br> j'aimerais vous en presenter quelques-uns.<br><br>
                     - Write It Social : mon premier projet abouti, réalisé pour obtenir mon diplôme de développeur.<br><br>
                     - Cafee : la création d'une identité visuelle pour une société spécialisé dans la vente de café.<br><br>
                     - Fête de la moto 2016 : la réalisation d'une affiche qui sera mon projet print préféré.<br><br>
                     - TopTen : la réalisation d'un site internet pour une société de foot en salle, projet complet, création de l'identité visuelle (logo, couleur, texte) 
                    et la création du socle technique pour rendre celui-ci diffusable (hébergement, nom de domaine, implémentation HTML/CSS/JS).   
                </p>
            </div>
        </div>
    </div>
</div>


<!-- <video width="100%" autoplay>
    <source
    src="../assets/videos/writeitsocial.webm"
    type="video/webm">
    <source
    src="../assets/videos/writeitsocial.mp4"
    type="video/mp4">
    <source
    src="../assets/videos/writeitsocial.mov"
    type="video/mov">
    Votre navigateur ne permet pas de lire les vidéos HTML5.
</video> -->