img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.app-pres{
    margin: 40px 0 0 0;
}

.text-introduction{
    margin: 180px 0 0 220px;
}

.text-introduction p{
    color: #34353d;
    font-size: 1.3em;
}

h1{
    font-size: 6em;
    line-height: 1em;
}

h1 span{
    display: inline-block;
}

h1 span:first-child{
    font-family: 'Righteous', cursive;
    margin: 0 20px 0 0;
    color: #34353d;
}

h1 span:last-child{
    font-family: 'Alfa Slab One', cursive;
    color: rgb(66, 67, 173);
}

h1 span{
    text-transform: capitalize;
}

@media screen and (max-width: 768px)
{
    h1{
        font-size: 4em;
        text-align: center;
    }

    .text-introduction{
        margin: auto;
    }

    .text-introduction p{
        text-align: center;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1200px) {
    .text-introduction{
        margin: auto;
    }
}
