<div class="app-pres">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12">
            <div class="text-introduction">
                <h1 class="title">
                    <span>Créateur</span>
                    <span>Web</span>
                </h1>
                <p class="animated fadeInLeft">Expert en développement web, tous mes sites ou applications sont faits sur mesure.<br>J'intégre toutes les 
                    fonctionnalités spécifiques à vos besoins.<br><br>
                    Depuis des années, je developpe des sites web ou des applications avec differentes technologies avec Angular et Java et aussi
                    avec les gestionnaires de contenu wordpress et prestashop également. 
                </p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-xs-12">
            <img src="../../assets/images/home-dev-illustration.png" alt="illustration-home">
        </div>
    </div>
</div>