<!-- <div class="app-pres">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row-no-padding">
                <div class="app-pres-logo mdl-card mdl-shadow--2dp text-center">
                    <div>
                        <h2 class="ml3">
                            <span class="animated fadeInLeftBig">Développeur</span>
                            <span> /</span>
                            <span class="animated rotateInDownRight">Web Designer</span>
                        </h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                    </div>
                    <div class="row app-pres-socials">
                        <div class="col-xs-4 col-12">
                            
                            <a *ngFor="let social of socials" href="{{social.link}}" title="{{social.title}}">
                                <i class="{{social.classIco}}" aria-hidden="true"></i>
                            </a>
                            
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#skills" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="app-pres">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12">
            <div class="text-introduction">
                <h1 class="title">
                    <span>Créateur <span>de</span></span>
                    <span>besoins</span>
                </h1>
                <p class="animated fadeInLeft">Expert en développement web, tous mes sites ou applications sont faits sur mesure.<br>J'intégre toutes les 
                    fonctionnalités spécifiques à vos besoins.<br><br>
                    Depuis des années, je developpe des sites web ou des applications avec differentes technologies avec Angular et Java et aussi
                    avec les gestionnaires de contenu wordpress et prestashop également. 
                </p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-xs-12">
            <img src="../../assets/images/home-dev-illustration.png" alt="illustration-home">
        </div>
    </div>
</div>