h1{
    margin-left: 5px;
    font-weight: bold;
}

.app-nav-link{
    background-color: #1A1A1A !important;
    font-size: 18px;
}

.app-nav-link a{
    margin-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    cursor:pointer;    
    transition: border-top 1s, border-bottom 1s, letter-spacing 1s;
}

.app-nav-link a:hover {
    letter-spacing:4px;
    color: white;
    
}

.mdl-layout{
    overflow: hidden;
}

.halloween{
    margin-left: 10px
}

.mdl-layout--small-screen-only{
    background-color: black;
}

.mdl-layout--small-screen-only .mdl-layout-title{
    color: white;
    font-weight: bold;
}

.mdl-layout--small-screen-only > .mdl-navigation > .mdl-navigation__link{
    color: white;
}

.mdl-layout--small-screen-only > .mdl-navigation > .mdl-navigation__link:hover{
    color: white;
    background-color: #7985A1;
}