.app-exps{
    margin: 150px 10px 150px 10px; 
}

.app-exps-container{
    background-color: white;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.app-exps-img-pastille{
    background-color: #7985A1;
    padding: 15px;
    border-radius: 40px;
}

.app-exps-title-separate{
    margin: 20px 0px 0px 15px;
    float: left;
}

.hr-custom-title{
    background-color: white;
    height: 3px;
    width: 270px;
    margin-top: 13px;
}

.app-exps-container-logo-exps div{
    display: inline-block;
    margin: 20px 5px 5px 5px;
}
.app-exps-container-logo-exps p{
    color:#c9c9c9;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}
.app-exps-container-logo-exps p:last-child{
    font-size: 14px;
    color: #7985A1;
}

.title{
    float: left;
    color: white;
    margin-left: 5px;
}

@media screen and (max-width: 640px) {
    .app-exps-container-logo-exps p{
        font-size: 12px;
    }
    .app-exps-container-logo-exps p:last-child{
        font-size: 12px;
    }
    .app-exps-title-separate h2{
        font-size: 15px;
    }
  }
