<div class="app-exps">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12">
            <div class="text-exps">
                <p>
                    Tout au long de mon parcours j'ai eu la chance de pouvoir exprimer ma passion pour
                    la création web au sein de petites et de grandes sociétés.<br>
                    La majorité de mon expérience provient de ses différents projets, entre web-design et développement web.<br>
                    La réalisation de plusieurs maquettes web sur Photoshop à VLIS, la mise en place du socle technique et le développement 
                    de plusieurs publicités web pour Samsung, le groupe Accor et autres à Kpsule, participer activement sur deux projets métier en tant 
                    que développeur Angular pour Renault Technocentre et depuis trois années développeur Fullstack Java au sein de la Société Générale sur 
                    divers projets.<br><br>
                    Retrouver mon parcours en detail, cliquez ici => 
                    <a href="https://www.linkedin.com/in/adrien-leteinturier/">
                        <i class="fab fa-linkedin"></i>
                    </a><br><br>
                    
                    Mon expérience que je mets à votre disposition pour réaliser votre projet.

                </p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-xs-12 float-right">
            <img src="../../assets/images/timeline-jobs.png" alt="illustration jobs">
        </div>
    </div>
</div>
