.app-skills{
    background-color:"#1A1A1A";
    margin: 200px 10px 200px 10px;
}

.app-skills-item span{
    color: white;
    display: block;
    font-size: 1.8em;
    letter-spacing: 0.5px;
}

.app-skills-item img{
    width: 80%;
}

@media screen and (max-width: 640px) {
    .app-skills-item span{
        font-size: 1.3em;
    }
  }
