/* You can add global styles to this file, and also import other style files */

body{
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


/* Errors Syle */

.has-error{
    color: red;
}

.input-has-error,.input-has-error:focus{
    border: 1px solid red;
    box-shadow: none;    
}

.absolute-input-warning-ico{
    margin-left: 5px;
}